In [29]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import pandas as pd

dataset = pd.read_csv('train.csv')
dataset.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [30]:
dataset=dataset.drop(["PassengerId", "Name", "Ticket", "Cabin", "Embarked"], axis=1)
dataset.head(10)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500
5         0       3    male   NaN      0      0   8.4583
6         0       1    male  54.0      0      0  51.8625
7         0       3    male   2.0      3      1  21.0750
8         1       3  female  27.0      0      2  11.1333
9         1       2  female  14.0      1      0  30.0708

In [31]:
dataset.fillna(value=0, inplace=True)

In [32]:
dataset

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare
0           0       3    male  22.0      1      0    7.2500
1           1       1  female  38.0      1      0   71.2833
2           1       3  female  26.0      0      0    7.9250
3           1       1  female  35.0      1      0   53.1000
4           0       3    male  35.0      0      0    8.0500
5           0       3    male   0.0      0      0    8.4583
6           0       1    male  54.0      0      0   51.8625
7           0       3    male   2.0      3      1   21.0750
8           1       3  female  27.0      0      2   11.1333
9           1       2  female  14.0      1      0   30.0708
10          1       3  female   4.0      1      1   16.7000
11          1       1  female  58.0      0      0   26.5500
12          0       3    male  20.0      0      0    8.0500
13          0       3    male  39.0      1      5   31.2750
14          0       3  female  14.0      0      0    7.8542
15          1       2  female  55.0      0      0   16.0000
16          0       3    male   2.0      4      1   29.1250
17          1       2    male   0.0      0      0   13.0000
18          0       3  female  31.0      1      0   18.0000
19          1       3  female   0.0      0      0    7.2250
20          0       2    male  35.0      0      0   26.0000
21          1       2    male  34.0      0      0   13.0000
22          1       3  female  15.0      0      0    8.0292
23          1       1    male  28.0      0      0   35.5000
24          0       3  female   8.0      3      1   21.0750
25          1       3  female  38.0      1      5   31.3875
26          0       3    male   0.0      0      0    7.2250
27          0       1    male  19.0      3      2  263.0000
28          1       3  female   0.0      0      0    7.8792
29          0       3    male   0.0      0      0    7.8958
..        ...     ...     ...   ...    ...    ...       ...
861         0       2    male  21.0      1      0   11.5000
862         1       1  female  48.0      0      0   25.9292
863         0       3  female   0.0      8      2   69.5500
864         0       2    male  24.0      0      0   13.0000
865         1       2  female  42.0      0      0   13.0000
866         1       2  female  27.0      1      0   13.8583
867         0       1    male  31.0      0      0   50.4958
868         0       3    male   0.0      0      0    9.5000
869         1       3    male   4.0      1      1   11.1333
870         0       3    male  26.0      0      0    7.8958
871         1       1  female  47.0      1      1   52.5542
872         0       1    male  33.0      0      0    5.0000
873         0       3    male  47.0      0      0    9.0000
874         1       2  female  28.0      1      0   24.0000
875         1       3  female  15.0      0      0    7.2250
876         0       3    male  20.0      0      0    9.8458
877         0       3    male  19.0      0      0    7.8958
878         0       3    male   0.0      0      0    7.8958
879         1       1  female  56.0      0      1   83.1583
880         1       2  female  25.0      0      1   26.0000
881         0       3    male  33.0      0      0    7.8958
882         0       3  female  22.0      0      0   10.5167
883         0       2    male  28.0      0      0   10.5000
884         0       3    male  25.0      0      0    7.0500
885         0       3  female  39.0      0      5   29.1250
886         0       2    male  27.0      0      0   13.0000
887         1       1  female  19.0      0      0   30.0000
888         0       3  female   0.0      1      2   23.4500
889         1       1    male  26.0      0      0   30.0000
890         0       3    male  32.0      0      0    7.7500

[891 rows x 7 columns]

In [33]:
dataset['Sex'] = dataset['Sex'].map({'female': 1, 'male': 0})
dataset

     Survived  Pclass  Sex   Age  SibSp  Parch      Fare
0           0       3    0  22.0      1      0    7.2500
1           1       1    1  38.0      1      0   71.2833
2           1       3    1  26.0      0      0    7.9250
3           1       1    1  35.0      1      0   53.1000
4           0       3    0  35.0      0      0    8.0500
5           0       3    0   0.0      0      0    8.4583
6           0       1    0  54.0      0      0   51.8625
7           0       3    0   2.0      3      1   21.0750
8           1       3    1  27.0      0      2   11.1333
9           1       2    1  14.0      1      0   30.0708
10          1       3    1   4.0      1      1   16.7000
11          1       1    1  58.0      0      0   26.5500
12          0       3    0  20.0      0      0    8.0500
13          0       3    0  39.0      1      5   31.2750
14          0       3    1  14.0      0      0    7.8542
15          1       2    1  55.0      0      0   16.0000
16          0       3    0   2.0      4      1   29.1250
17          1       2    0   0.0      0      0   13.0000
18          0       3    1  31.0      1      0   18.0000
19          1       3    1   0.0      0      0    7.2250
20          0       2    0  35.0      0      0   26.0000
21          1       2    0  34.0      0      0   13.0000
22          1       3    1  15.0      0      0    8.0292
23          1       1    0  28.0      0      0   35.5000
24          0       3    1   8.0      3      1   21.0750
25          1       3    1  38.0      1      5   31.3875
26          0       3    0   0.0      0      0    7.2250
27          0       1    0  19.0      3      2  263.0000
28          1       3    1   0.0      0      0    7.8792
29          0       3    0   0.0      0      0    7.8958
..        ...     ...  ...   ...    ...    ...       ...
861         0       2    0  21.0      1      0   11.5000
862         1       1    1  48.0      0      0   25.9292
863         0       3    1   0.0      8      2   69.5500
864         0       2    0  24.0      0      0   13.0000
865         1       2    1  42.0      0      0   13.0000
866         1       2    1  27.0      1      0   13.8583
867         0       1    0  31.0      0      0   50.4958
868         0       3    0   0.0      0      0    9.5000
869         1       3    0   4.0      1      1   11.1333
870         0       3    0  26.0      0      0    7.8958
871         1       1    1  47.0      1      1   52.5542
872         0       1    0  33.0      0      0    5.0000
873         0       3    0  47.0      0      0    9.0000
874         1       2    1  28.0      1      0   24.0000
875         1       3    1  15.0      0      0    7.2250
876         0       3    0  20.0      0      0    9.8458
877         0       3    0  19.0      0      0    7.8958
878         0       3    0   0.0      0      0    7.8958
879         1       1    1  56.0      0      1   83.1583
880         1       2    1  25.0      0      1   26.0000
881         0       3    0  33.0      0      0    7.8958
882         0       3    1  22.0      0      0   10.5167
883         0       2    0  28.0      0      0   10.5000
884         0       3    0  25.0      0      0    7.0500
885         0       3    1  39.0      0      5   29.1250
886         0       2    0  27.0      0      0   13.0000
887         1       1    1  19.0      0      0   30.0000
888         0       3    1   0.0      1      2   23.4500
889         1       1    0  26.0      0      0   30.0000
890         0       3    0  32.0      0      0    7.7500

[891 rows x 7 columns]

In [37]:
X = dataset[["Pclass","Sex","Age", "Parch", "SibSp", "Fare"]]
Y = dataset[["Survived"]]
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.4)

In [38]:
Reg = LogisticRegression()
Reg.fit(X_train, Y_train)

/Users/noshin/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [40]:
Reg.fit(X_train,Y_train).score(X_test,Y_test)

/Users/noshin/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.81512605042016806

In [56]:
#Loading testing dataset and preparing it for prediction
TestDataset = pd.read_csv('test.csv')
resultIndex = TestDataset[["PassengerId"]]
TestDataset = TestDataset.drop(["PassengerId", "Name", "Ticket", "Cabin", "Embarked"], axis=1)
TestDataset.fillna(value=0, inplace=True)
TestDataset['Sex'] = TestDataset['Sex'].map({'female': 1, 'male': 0})
TestX = TestDataset[["Pclass","Sex","Age", "Parch", "SibSp", "Fare"]]
TestDataset

     PassengerId
0            892
1            893
2            894
3            895
4            896
5            897
6            898
7            899
8            900
9            901
10           902
11           903
12           904
13           905
14           906
15           907
16           908
17           909
18           910
19           911
20           912
21           913
22           914
23           915
24           916
25           917
26           918
27           919
28           920
29           921
..           ...
388         1280
389         1281
390         1282
391         1283
392         1284
393         1285
394         1286
395         1287
396         1288
397         1289
398         1290
399         1291
400         1292
401         1293
402         1294
403         1295
404         1296
405         1297
406         1298
407         1299
408         1300
409         1301
410         1302
411         1303
412         1304
413         1305
414         1306
415         1307
416         1308
417         1309

[418 rows x 1 columns]

In [57]:
predictions = Reg.predict(TestX)

In [48]:
predictions

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0])

In [53]:

# result = pd.DataFrame(index = TestDataset["PassengerId"])
# df.index.name = 'PassengerId'

KeyError: "['PassengerId'] not in index"